body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.drawer-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.drawer-shell[data-theme='lightday'] {
  background: rgba(255, 255, 255, 1);
}

.drawer-shell[data-theme='darknight'] {
  background: rgba(42, 42, 42, 1);
}
